doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="author" content="Володимир Прокопюк, Світлана Федорів")
    meta(name="description" content="Ґуцулвіль, приватна садиба")
    meta(name="keywords" content="Ґуцулвіль, відпочинок, приватна садиба, Карпати, Ворохта, зелений туризм, гуцульська кухня, баня на дровах")
    title Ґуцулвіль
    link(href="https://fonts.googleapis.com/css?family=Philosopher:400,700&subset=cyrillic,latin" rel="stylesheet")
    style
      include ../semantic/dist/components/reset.min.css
      include ../semantic/dist/components/site.min.css
      include ../semantic/dist/components/container.min.css
      include ../semantic/dist/components/grid.min.css
      include ../semantic/dist/components/header.min.css
      include ../semantic/dist/components/list.min.css
      include ../semantic/dist/components/image.min.css
      include ../semantic/dist/components/icon.min.css
      include ../css/style.css
  body
    block body