doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="author" content="Володимир Прокопюк, Світлана Федорів")
    meta(name="description" content="Ґуцулвіль, приватна садиба")
    meta(name="keywords" content="Ґуцулвіль, відпочинок, приватна садиба, Карпати, Ворохта, зелений туризм, гуцульська кухня")
    title Ґуцулвіль
    link(href="../semantic/dist/semantic.min.css" rel="stylesheet")
    style
      include ../css/style.css
  body
    block body