extends base

block body
  .ui.stackable.grid.container
    .sixteen.wide.center.aligned.middle.aligned.yellow.column
      #hutsulvil
        h1.ui.header ҐУЦУЛВІЛЬ
          .sub.header мистецтво відпочинку
    .four.wide.column
      p #[i.phone.icon] +(380) 973 467 057
    .four.wide.column
      p #[i.phone.icon] +(380) 936 545 884
    .four.wide.column
      p #[i.phone.icon] +(380) 662 100 754
    .four.wide.column
      p #[i.mail.icon] hutsulvil@gmail.com
    .sixteen.wide.column
      h2.ui.header Відпочинок
        .sub.header Якісний та унікальний відпочинок взимку і влітку
      p.
        Активний відпочинок у Карпатах буде насиченим незалежно від пори
        року. Взимку - це, в першу чергу, катання на лижах і сноубординг, а
        також новий вид розваг – катання на надувних санках
        (сноутюбах). Влітку Вам подарують гарний настрій пішохідні прогулянки
        по горах (трекінг), спуск по річці на невеликих вертких суднах
        (рафтинг), катання на велосипедах по крутих гірських схилах, верхова
        їзда, полювання, рибалка, пікніки, метання ножів, стрільба з лука, а
        також із пневматичної гвинтівки.
      p.
        А ще тільки тут, у горах, у справжньому українському селищі Ви
        відчуєте атмосферу та магію українських свят, скуштуєте традиційні
        карпатські страви, зможете поколядувати та побачити вертеп на Різдво,
        поводити гаївки на Великдень, стрибнути через ватру у купальську ніч
        та поворожити у ніч на свято Св.Андрія. Одним словом відчуєте, що таке
        справжній відпочинок в горах.
      h3.ui.header Баня
        .sub.header Прийняти баню
        .ui.small.images
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
      h3.ui.header Мангал та альтанки
        .sub.header Поїсти шашликів
        .ui.small.images
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
          img.ui.image(src="img/hutsulvil.jpg")
      h3.ui.header Гойдалка
        .sub.header Розвага для дітей
    .sixteen.wide.column
      h2.ui.header Номери
        .sub.header Сучасні номери традиційного стилю з усіма зручностями
      h3.ui.header Конференц зал
        .sub.header Місце проведення зустрічей та урочистих засідань
      h3.ui.header Кухня
        .sub.header Домашня ґуцульська кухня з баношем, бриндзею на грибами
    .sixteen.wide.column
       h2.ui.header Контакти
    .height.wide.column
      .ui.relaxed.list
        .item #[i.phone.icon] +(380) 973 467 057
        .item #[i.phone.icon] +(380) 936 545 884
        .item #[i.phone.icon] +(380) 662 100 754
        .item #[i.mail.icon] hutsulvil@gmail.com
        .item #[i.marker.icon] Івано-Франківська обл., смт. Ворохта
        .item #[i.home.icon] вул. Грушевського, 30-Б
        .item
          a(href="http://vk.com/hutsulvil") #[i.vk.icon] ВКонтакті
        .item
          a(href="https://www.facebook.com/groups/1554076214867394/") #[i.facebook.icon] Facebook
        .item
          a(href="https://twitter.com/hutsulvil") #[i.twitter.icon] @hutsulvil
    .height.wide.column
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?near=%D0%92%D0%BE%D1%80%D0%BE%D1%85%D1%82%D0%B0,+%D0%98%D0%B2%D0%B0%D0%BD%D0%BE-%D0%A4%D1%80%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;geocode=CfHS4d4JTfo6FcW-4AIdi9t2ASlBeElDKuI2RzG219rRFIaICA&amp;q=%D2%90%D1%83%D1%86%D1%83%D0%BB%D0%B2%D1%96%D0%BB%D1%8C&amp;f=l&amp;sll=48.288276,24.570773&amp;sspn=0.011236,0.02929&amp;ie=UTF8&amp;hq=%D2%90%D1%83%D1%86%D1%83%D0%BB%D0%B2%D1%96%D0%BB%D1%8C&amp;hnear=&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      <br /><small><a href="https://maps.google.es/maps?near=%D0%92%D0%BE%D1%80%D0%BE%D1%85%D1%82%D0%B0,+%D0%98%D0%B2%D0%B0%D0%BD%D0%BE-%D0%A4%D1%80%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;geocode=CfHS4d4JTfo6FcW-4AIdi9t2ASlBeElDKuI2RzG219rRFIaICA&amp;q=%D2%90%D1%83%D1%86%D1%83%D0%BB%D0%B2%D1%96%D0%BB%D1%8C&amp;f=l&amp;sll=48.288276,24.570773&amp;sspn=0.011236,0.02929&amp;ie=UTF8&amp;hq=%D2%90%D1%83%D1%86%D1%83%D0%BB%D0%B2%D1%96%D0%BB%D1%8C&amp;hnear=&amp;t=m&amp;z=14&amp;iwloc=A&amp;source=embed" target="_blank">Переглянути на карті більшого розміру</a></small>
    .sixteen.wide.column
        p.
          Ми народилися у 2007 році, в пору, коли Ворохту вже огорнула зима. На
          дворі падав сніг, а наші перші відвідувачі своєю щирістю запалювали
          традицію доброзичливого ставлення поміж всіма мешканцями
          Ґуцулвілю. Сьогодні, 9 років по тому, життя в Ґуцулвілі проходить
          розмірено, і лише на зимові свята, а особливо в Різдвяну пору,
          численна “родина” нашої садиби з’їжджається для спільного справжнього
          відпочинку.
        p.
          Ми завжди радіємо нашим новим відвідувачам і щиро вдячні Вам, друзі
          Ґуцулвілю, за те, що Ви з нами. Ґуцулвіль забезпечує кожному гостю
          кращий рівень комфорту й насичений активний відпочинок у
          Карпатах. Бажаємо Вам доброго настрою і міцного здоров'я! Приїжджайте
          до нас у гості та Ви не помітите, як Ґуцулвіль стане для Вас рідним!