pri = #21BA45
acc = #DB2828
pril = #2ECC40
accl = #FF695E

#panorama
  background-image url(img/panorama001.jpg)
  background-repeat no-repeat
  background-position center center
  background-size cover

  .summary
    background-color rgba(35, 35, 35, 0.6)

    .hutsulvil
      padding-top 10em

      h1
        font-size 3em
        color pri

        span
          color acc

        .sub
          color #ccc;

    .contacts
      padding-top 16em

      p
        color pri

#content
  padding-top 3em

  i
    color pri

  .intro
    font-size 1.2em

  .img
    margin 0.4em
    transition all 200ms ease-in
    transform scale(1)
  .img:hover
    box-shadow 0px 0px 70px 10px #444
    z-index 1
    transition all 200ms ease-in
    transform scale(2.5)

    .label
      opacity 0.8

#footer
  margin-top 3em
  padding-top 4em
  padding-bottom 6em
  background pril

  i
    color white

  .invitation
    font-size 1.2em