pri = #21BA45
acc = #DB2828
pril = #2ECC40
accl = #FF695E

#panorama
  background-image url(img/panorama006.jpg)
  background-repeat no-repeat
  background-position center center
  background-size cover

  .summary
    background-color rgba(35, 35, 35, 0.6)

    .hutsulvil
      padding-top 10em

      h1
        font-size 3em
        color pri

        span
          color acc

        .sub
          color #ccc;

    .contacts
      padding-top 16em

      p
        color pri

#content
  padding-top 3em

  i
    color pri

#footer
  margin-top 3em
  background pril

  .invitation
    font-size 1.2em
    padding-top 2em
    padding-bottom 4em